<!DOCTYPE html>
<html>
	<head>
		<title>SignalR POC</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		@Styles.Render("~/Content/css")
	</head>
	<body>
		<header>
			<div class="content-wrapper">
				<div class="float-right">
					<nav>
						<ul id="menu">
							<li>@Html.ActionLink("Home", "Index", "Home", new {CustomerId = @Request.QueryString["CustomerId"]}, null)</li>
							<li>@Html.ActionLink("GainCapitalRates", "GainCapitalRates", "Home")</li>
							<li>@Html.ActionLink("FXCMRates", "FXCMRates", "Home")</li>
							<li>@Html.ActionLink("TrueFXRates", "TrueFXRates", "Home")</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<div id="body">
			<section class="content-wrapper main-content clear-fix">
				@Scripts.Render("~/bundles/jquery")
				@Scripts.Render("~/bundles/jquerycolor")
				@Scripts.Render("~/bundles/signalr")
				@RenderSection("scripts", required: false)
				@RenderBody()
			</section>
		</div>
	</body>
</html>